@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height: 75vh;">
    <h1 class="display-4">Programación Asíncrona C#</h1>
    <p>Conozca más sobre <a href="https://docs.google.com/presentation/d/1I1eFmTpKQ24_LWsn6jfLD_85uI81iPym/edit?usp=sharing&ouid=101188401632625272176&rtpof=true&sd=true">Programación Asíncrona C# ASP.NET</a>.</p>
</div>

@* class="d-flex flex-column justify-content-center align-items-center" style="height: 75vh; *@